/* Ajusta el espacio dentro del ion-item */
ion-item {
  margin-bottom: 15px;
  --highlight-color-focused: #3b82f6; /* Azul suave al enfocar */
}

/* Ajuste visual del input */
ion-input {
  padding: 10px 0 5px 0;
  font-size: 16px;
  color: #333;
}
ion-label {
  font-size: 14px;
  color: #555;
}

ion-item.ion-focused ion-label {
  color: #3b82f6; /* Azul al enfocar */
  font-weight: 500;
}

/* Fondo claro y borde suave */
ion-item::part(native) {
  background: #f8f9fa;
  border-radius: 6px;
  border: 1px solid #ccc;
}
